{% extends "shared/_layout.html" %}
{% block main_content %}
    <div class="pypi-stats">
        <div class="stat" >
            <h3>Statistics</h3></div>
    </div>

    <div class="container project-list">
        <div class="row">
            <div class="col-md-3">
                <h2>New Users</h2>
                {% for user in new_users %}

                <div class="subtitle">
                    <a href="/account/{{ user.id }}"> {{ user.name }} </a>
                </div>
                
                {% endfor %}
            </div>
            <div class="col-md-3">
                <h2>Latest Users Logged</h2>
                {% for user in latest_logged %}

                <div class="subtitle">
                   <a href="/account/{{ user.id }}"> {{ user.name }} </a>
                </div>
                
                {% endfor %}
            </div>
            
        </div>
    </div>

{% endblock %}